{{- $title := .Title -}}
{{- $siteTitle := .Site.Title -}}

{{- if .IsHome -}}
    {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
    {{ $articles := where .Site.RegularPages "Type" "in" $mainSections }}
    {{ $timeline := where .Site.RegularPages "Section" "timeline" }}

    {{ $articles = where $articles "Lang" .Lang }}
    {{ $timeline = where $timeline "Lang" .Lang }}

    {{ $pages := union $articles $timeline }}
    {{ $pages = sort $pages "Date" "desc" }}
    {{ $pag := .Paginate $pages }}

    {{ if .Paginator.HasPrev }}
        {{ $title = printf "%s - %s" .Paginator $siteTitle }}
    {{ else }}
        {{ $title = $siteTitle}}
    {{ end }}
{{- else if eq .Kind "term" -}}
    <!-- Taxonomy page -->

    <!-- Build paginator -->
    {{ $pag := .Paginate .Pages }}

    <!-- {TAXONOMY_TYPE}: {TAXONOMY_TERM} -->
    {{ $title = slice (title .Data.Singular) ": " $title }}

    {{ if .Paginator.HasPrev }}
        <!-- Add page number-->
        {{ $title = $title | append " - " .Paginator }}
    {{ end }} 

    {{ $title = $title | append " - " $siteTitle }}
    {{ $title = delimit $title "" }}
{{- end -}}

{{ return $title }}