{{- with .Site.Params.comments.artalk -}}
<link href="{{ $.Site.Params.comments.artalk.host }}/dist/Artalk.css" rel="stylesheet">
<script src="{{ $.Site.Params.comments.artalk.host }}/dist/Artalk.js"></script>
<div id="Comments"></div>
<script>
    const artalk = Artalk.init({
        el: '#Comments',
        pageKey: '{{ .Permalink }}',
        pageTitle: '{{ .Title }}',
        server: '{{ $.Site.Params.comments.artalk.host }}',
        site: '{{ $.Site.Title }}',
        locale: "auto"
    })
    window.addEventListener('onColorSchemeChange', (e) => {
        if (e.detail === 'dark') {
            artalk.setDarkMode(true)
        } else {
            artalk.setDarkMode(false)
        }
    })
</script>
{{- end -}}